.bottom1{
  &__link {
    @extend %flex;
    @include font-line(24,24);
    font-family: "BebasNeue";
    width: 127px;
    height: 44px;
    background: #FFE01B;
    color:black;
    text-transform: uppercase;
    transition: 500ms ease ;
	
    &:hover{
      text-decoration: none;
      color:black;
      transform: scale(1.1)
    }
    
    &:active{
      text-decoration: none;
      color:black;
      background: #FFEB6C;	
    }		
  }
}