.bottom2{
  &__link {
    @extend %flex;
    font-family: "BebasNeue";
    background: #FFE01B;
    color:black;
    text-transform: uppercase;
    transition: 500ms ease ;
   
    @media (max-width: 2560px) and (min-width: 1024px) {
      width: 238px;
      height: 44px;
      @include font-line(24,24);
    }
     
    @media (max-width: 1023px) and (min-width: 768px) {
      @include font-line(22,22); 
      width: 213px;
      height: 35px;
    }
     
    @media (max-width: 767px) and (min-width: 200px) {
      width: 280px;
      height: 30px;
      @include font-line(20,20);
    }
    
     &:hover{
      text-decoration: none;
      color:black;
      transform: scale(1.1);
    }
    
    &:active{
      text-decoration: none;
      color:black;
      background: #FFEB6C;	
    }		
  }
}