.bottom2{
  &__link {
    @extend %flex;
    @include font-line(24,24);
    font-family: "BebasNeue";
    width: 278px;
    height: 44px;
    background: #FFE01B;
    color:black;
    text-transform: uppercase;
    transition: 200ms ease ;
    
    &:hover{
      text-decoration: none;
      color:black;
    }
    
    &:active{
      text-decoration: none;
      color:black;
      width: 250px;
      height: 44px;
      background: #FFEB6C;	
    }		
  }
}