.button-blue{
  position: relative;
  z-index: 100;
 
  text-transform: uppercase;
  background: #056CDE;
  border-radius: 10px;
  @extend %flex;
 
  @media  (min-width: 1024px) { 
    width:310px;
    height:50px;
    margin-top:30px; 
  }
  
  @media (max-width: 1023px) and (min-width: 768px) {  
    width:240px;
    height:40px;
    margin-top:20px;
  }
  
  @media (max-width: 767px)   {  
    margin-top:25px;
    width:280px;
    height:40px;
  }
 
  &:hover{
    text-decoration: none;
    color: #3A4959; 
    transform: scale(1.1);
  }
  
  &:active{
    text-decoration: none;
    background: rgb(113, 157, 253);	
  }		
    
  &__text {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
   
    @media  (min-width: 1024px) {
      @include font-line(16,22);
    }
    
    @media (max-width: 1023px) and (min-width: 768px) {
      @include font-line(13,18);
    }
  
    @media (max-width: 767px)  { 
      @include font-line(13,18);
    }
  
    &:hover{
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  }
}


.button-blue-two{
  
  @media  (min-width: 768px) {
    display: none;
  }
 
  @media (max-width: 767px)  { 
    background: #056CDE;
    text-decoration: none;
    color: rgb(255, 255, 255);
    @include font-line(13,18);
    font-weight: bold;
    border-radius: 10px;
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
    &:hover{
      text-decoration: none;
      transform: scale(1.1);
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
    
    &:active{
      text-decoration: none;
      background: rgb(113, 157, 253);	
    }		
  }
}
  