@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic');

@import url('http://allfont.ru/allfont.css?fonts=bebas-neue');

@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css');

@mixin font-line($font,$line) {
	font-size: $font + px;
	line-height: $line + px;
}
@mixin sprite($item) {
	width: 71px;
	height: 71px;
	background-position: ($item * (-71)) + px top;
}
@mixin link($item) {
	width: 110px;
	height: 110px;
	background-position: ($item * (-110)) + px bottom;
}


%flex {
	display: flex;
	justify-content: center;
	align-items: center;
}


body {
	font-family: 'Open Sans Condensed', sans-serif
	!important;
	transition: 500ms ease !important;
} 

article {
	margin: 0 auto;
	max-width: 1220px;
	padding: 0 20px;
}

.link {
	color: black;
	@include font-line(16,22);
	margin-right: 12px;
	
	&:hover {
		color: #FF6969;
	}
}