.exam-card{
    background: white;
    
    @media  (min-width: 1024px) {
        width: 450px;
    }
        
    @media (max-width:1023px) and (min-width: 768px) {
        width: 270px;
    }
    
    @media (max-width: 767px) {
        width: 280px;
        height: 150x;
    }
    
    &__img{
    
        @media  (min-width: 1024px) {
            width: 450px;
            height: 200px;
        }
    
        @media (max-width:1023px) and (min-width: 768px) {
                width: 270px;
               height: 120px;
        }
    
        @media (max-width: 767px)  {
            width: 280px;
            height: 100px;
        }
    }
    
    &__block{
      
        @media  (min-width: 1024px) {
            padding: 30px 70px 40px 40px;
        }
       
        @media (max-width:1023px) and (min-width: 768px) {
            padding: 20px 20px 0 20px;
        }
            
        @media (max-width:767px) { max-height: 50px;
                padding: 13px 0 16px 20px; 
        }
    }
    

    &__title{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
      
        @media  (min-width: 1024px) { 
            letter-spacing: 1px;
            padding-bottom: 10px;
            @include font-line(24,28);
        }
       
        @media (max-width:1023px) and (min-width: 768px) {
            padding-bottom: 10px;
            @include font-line(18,21);
        }
       
        @media (max-width: 767px)  {
            @include font-line(18,21);
            color: #056CDE;
        }
    }

    &__text{
        padding-bottom: 20px;
        @media  (min-width: 1024px) {
            @include font-line(16,24);
        }
        
        @media (max-width:1023px) and (min-width: 768px) {
            @include font-line(14,21);
        }
        
        @media (max-width: 767px)  {
             display: none;
        }   
    }

    &__links{
        display: flex;
        flex-wrap: wrap;
        margin-right: -40px;
    }

    .link-card{
        margin: 0 20px 15px 0;
        text-transform: uppercase;
        color: #056CDE;
    
        @media  (min-width: 1024px) {
            @include font-line(13,18);
        }
        
        @media (max-width:1023px) and (min-width: 768px) {
            @include font-line(11,15);  
        }
        
        @media (max-width: 767px)  {
             display: none;
        } 
    }
}

.exam-card-two{
    margin-right: 40px;
    
    &__content{
        background: #D5E9FF;
        box-shadow: 0px 0px 20px rgba(118, 157, 202, 0.15);
        border-radius: 10px;

        @media  (min-width: 1024px) { 
            padding: 40px 40px 0 40px;
            height: 360px;
            width: 360px;
        }
        
        @media (max-width: 1023px) and (min-width: 768px) {
            padding: 27px 20px 0 20px;
            height: 290px;
            width: 280px;
        }
    
        @media (max-width: 767px) {
            height: 294px;
            width: 280px;
            padding: 20px 20px 0 20px;
        }
    }
    
    &__block {
        display: flex;
    }
    
    &__sprite-one {
        margin-right: 3px;
        background-image: url("./img/sprite_b.svg") ;
        margin-bottom: 20px;
        width:22px;
        height: 22px;
        background-position-y: -68px;
        background-position-x: -120px;
            
        &:hover {
            cursor: grab;
        }
    }
    
    &__text{
        @media  (min-width: 1024px) {
            @include font-line(16,26); 
        }
        
        @media (max-width: 1023px) {
            display: none;
            @include font-line(14,21);
        }
	}
    
    &__text-free{
    
        @media  (min-width: 768px) { 
            display: none;
        }
    
        @media (max-width: 767px)  { 
            margin:-5px 0 -7px 0;
            @include font-line(14,21);
        }
    }
    
    &__text-two{
        
        @media  (min-width: 1024px) { 
            display: none;
        }
    
        @media (max-width: 1023px) and (min-width: 768px) { 
            margin: -7px 0 -2px 0 ;
            @include font-line(14,21);
        }
            @media (max-width: 767px)  {
                display:none;
        }
    }
    
    &__link-block {
        padding-top: 10px;
    }
    
    &__link {
        text-transform: uppercase;
    
        @media  (min-width: 1024px) {
            @include font-line(13,18);
        }
    
        @media (max-width: 1023px) and (min-width: 768px) {
            @include font-line(11,15);
        }
        
        @media (max-width: 767px)  { 
            @include font-line(11,15);
        }
        
    }
    
    &__title {
        padding-top: 15px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;

        @media  (min-width: 1024px) {
            @include font-line(18,29);
        }
        
        @media (max-width: 1023px) and (min-width: 768px) {   
            @include font-line(16,20);
        }
    }
}