footer {
	background: #FFFFFF;
	
	section {
		display:flex;
		justify-content: space-between;
		padding: 34px 0;
		
		@media (max-width: 1023px) and (min-width: 768px) { 
			padding: 18px 0;
		}
		
		@media (max-width: 767px) and (min-width: 200px) { 
			display:flex;
			flex-direction: column;
			padding: 9px 0;
			@include font-line(14,19);
		}
	}

	address {
		color: black;
		@include font-line(16,22);
		
		@media (max-width: 767px) and (min-width: 200px) { padding-top: 10px;}
	}
}
