.header {
	background: #FFFFFF;
	box-sizing: border-box;
	padding: 27px 0 27px 0;

	&-conteiner{
		display: flex;
		justify-content: space-between;
	}
	
	&__img {
		width: 115px;
		height: 47.57px;
		box-shadow: 0px 4px 10px rgba(85, 78, 78, 0.25);
	}
	
	&__nav {
		@extend %flex;
	}
	
	&__link {
		color: black;
		font-weight: 300;
		@include font-line(16px,22px);
		margin-right: 12px;
	}
	
	&__link:hover {
		text-decoration: none;
	}
}
	


	

 
	
