.news-block{
	margin:0 auto; 
	background: #FFFFFF;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.07);
	
	&__img{
    width: 380px;
		height: 185px;
	}	
	
	&__title{
		margin : 15px 0 10px 21;
		font-weight: bold;
		@include font-line(20,27);
	}
	
	&__text{
		padding: 0 19px 47px 21px ;
		@include font-line(20,27);
  }
     
	&__link	{
		@extend %flex;
		width: 214.77px;
		height: 44px;
		background: #FFE01B;
		margin: 0 0 20 21;
		font-size: 24px;
		line-height: 24px;
		color: black;
		font-family: "BebasNeue";
		transition: 500ms ease ;
	
		&:hover{
			text-decoration: none;
			color:black;
    }
		
		&:active{
			text-decoration: none;
			color:black;
      width: 180px;
      background: #FFEB6C;	
		}		
        
	}
	&_two{
		display: flex;
	}
    
  &__text-data{
  	padding-left:  21px;
		align-items: center;
   	padding-bottom: 25px;
   	display: flex;
		@include font-line(20,27);   
	}
}
