.news-block {
	padding: 10px 10px;
	max-width: 400px;
	
	&_padding {
		margin:0 auto; 
		background: #FFFFFF;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.07);
	}
	
	&__content {
		padding: 0 20px 20px 20px;
	}
	
	&__title {
		padding: 15px 0 10px 0;
		font-weight: bold;
		@include font-line(20,27);
	}
	
	&__text{
		@include font-line(20,27);
    }
     
	&__link	{
		@extend %flex;
		width: 190px;
		height: 44px;
		background: #FFE01B;
		margin: 47px 0 0 0;
		font-size: 24px;
		line-height: 24px;
		color: black;
		font-family: "BebasNeue";
		transition: 500ms ease ;
	
		&:hover{
			text-decoration: none;
			color:black;
			transform: scale(1.1);
    	}
		
		&:active{
			text-decoration: none;
			color:black;
           	background: #FFEB6C;	
		}		
    }
	
	&_two {
		display: flex;
	}
    
  	&__text-data {
  		margin: 55px 10px 10px 30px;
		align-items: center;
   	   	display: flex;
		@include font-line(20,27);   
	}
}
