.start-block{
 
  background: #FFE01B;
}
.title-block_one{
	font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  margin: 50 0 70 0;
  
}
.block_two{
	font-size: 36px;
  line-height: 72px;
  
}
.parallax-card__img_one{
  margin: 40px 0 35 0;
}
 .block_three{
  font-size: 36px;
  line-height: 72px;
  
 }
 .content-next_one{
  font-weight: bold;
  font-size: 18px;
 
 }
 hr {
  border: 1px solid #000000;
  transform: rotate(0.14deg);
  margin: 53 0 47 0;
 }