.start-block {
  background: #FFE01B;
  padding: 50px 0 50px 0;

  &__title-block_one {
  	font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    margin-bottom: 70px;
  }
  &__title-block_two {
	  font-size: 36px;
    line-height: 54px;
  }
  &__wrapper-img {
    margin: 40px 0 35 0;
    width: 655px;
    height: 409px;
  }
  &__content-block_one{
    line-height: 27px;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  &__content-next_two{
    font-size: 18px;
    line-height: 149.8%;
    font-weight: bold;
  }
  &_hr {
  border: 1px solid #000000;
  transform: rotate(0.14deg);
  margin: 53 0 47 0;
  }
}