.info-block {
	padding: 35px 0 35px 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("./img/8.png") no-repeat center / cover;
	color: #FFFFFF;

	&__title {
		font-size: 48px;
		line-height: 72px;
		font-weight: bold;
	}
	
	&__text_margin-top {
 	  margin-top: 22px;
		font-size: 48px;
		line-height: 72px;
	}
}
.contacts {
	padding: 33px 0 33px 0;
	background: #23374F;;
	color: #FFFFFF;;
	text-align: center;

	&__title{	
		margin-bottom: 22px;
		font-size: 48px;
		line-height: 72px;
		font-weight: bold;
	}
	
	&__link_margin-botom {
		font-size: 48px;
		line-height: 72px;
		margin-bottom: 22px;
		color: #FFFFFF;
	}
	
	&__link_margin-botom:hover {
		color: #FF6969;
		cursor:  url("./img/mouse.png"),progress; 
	}
	
	&__link {
		font-size: 48px;
		line-height: 72px;
		color:#FFFFFF;
	}
	
	&__link:hover {
		color: #FF6969;
		cursor:  url("./img/mouse.png"),progress; 
	}
}

