.more{
  	background: #F2F2F2;
    padding: 50px 0;
   
	&__content {
    	font-style: normal;
		font-weight: bold;
		@include font-line(55,75);
    	margin-bottom: 55px;
    }

    &__img {
		padding-right:  20px ;
		@include width-height2(300,285);
		
    }
    
    &_block {
		display: flex;  
		  
		@media (max-width: 767px) and (min-width: 320px) {
			flex-wrap: wrap;
		}
    }
   
    &-two {    
 	    display: flex;  
    	flex-wrap: wrap;
    }
 
    &__text {
		font-weight: bold;
		@include font-line(45,61);
		margin-bottom: 35px;
		
		@media (max-width: 1024px) and (min-width: 768px) {
			@include font-line(21,28);
		}
	}
   
    &__text_info {
		@include font-line(20,27);
		@media (max-width: 1024px) and (min-width: 768px) {
			@include font-line(16,20);
		}
		@media (max-width: 767px) and (min-width: 320px) {
			@include font-line(13,17);
		}
	}
   
	&__sprite{
    	padding-left:292px;
  	 	display: flex;
    	align-items: center;
    	justify-content: flex-start;
		padding-bottom: 30px;
		
		@media (max-width: 1023px) and (min-width: 320px) {
			display: none;
		}
    }
   
	&__sprite-one{
    	background: url("./img/sprite.png");
    	@include sprite(0);
    	margin-right: 7px;
    }
	  
	&__sprite-two{
    	background: url("./img/sprite.png");
    	@include sprite(1);
    	margin-right: 9px;
  	}
  
	&__sprite-three{
    	background: url("./img/sprite.png");
    	@include sprite(2);
  	}
  
	&__sprite-text{
		font-weight: bold;
		@include font-line(24,33);
        padding:  5px 10px 0 10px ;
    	text-transform: uppercase;
  	}

  	&__foto-block{
    	display: flex;
    	flex-wrap: wrap;
		margin: 0 - 10px;
		
  	}
	  
	&__button{
    	display: flex;
    	justify-content: center; 
    	padding-top: 50px;
    	margin: 0 auto;
	}
	.more__image-block{
		
			@media (max-width: 1023px) and (min-width: 320px) {
				@include width-height2(280,180);
				margin-top: 50px;}
		
	
	}
}
