.my-blog {
  background:  #F2F2F2;
  padding: 50px 0 70px 0;
 
  &__content {
    flex-wrap: wrap;
    padding-bottom:40px;
    display: flex;
  }
  
  &__title {
    font-weight: bold;
    @include font-line(55,75);
    margin-bottom: 30px;
  }
 
  &__news {
    display: flex;
    flex-wrap: wrap;
    display: grid;
		grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    
		@media (max-width: 1023px) and (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
	}
		@media (max-width: 767px)  {
      grid-template-columns: 1fr ;
	}
		
  }
 
  &__nav{
    @extend %flex;
  }
}