<div class="exam-card">
    <img class="exam-card__img" src=@@image>
    <div class="exam-card__block">
    <div class="exam-card__title">
        @@title
    </div>
    <div class="exam-card__text">
        @@text
    </div>
  
    <div class="exam-card__links">
    <a class="exam-card__link" href="exam.html">
        <div class="link-card">@@link1</div>
    </a>
    <a class="exam-card__link" href="exam.html">
        <div class="link-card">@@link2</div>
    </a>
    <a class="exam-card__link" href="exam.html">
        <div class="link-card">@@link3</div>
    </a> 
    <a class="exam-card__link" href="exam.html">
        <div class="link-card">@@link4</div>
    </a>
    </div>
</div>
</div>
