<div class="exam-card-two">
	<div class="exam-card-two__content">
    	<div class="exam-card-two__block">
			<div class="exam-card-two__sprite-one"></div>
			<div class="exam-card-two__sprite-one"></div>
			<div class="exam-card-two__sprite-one"></div>
			<div class="exam-card-two__sprite-one"></div>
			<div class="exam-card-two__sprite-one"></div>
		</div>
		<div class="exam-card-two__text">
			@@text
		</div>
		<div class="exam-card-two__text-two">
			@@text2
		</div>
		<div class="exam-card-two__text-free">
			@@text3
		</div>
		<div class="exam-card-two__link-block">
			<a class="exam-card-two__link" href="./exam.html">@@link</a>	
		</div>
		<div class="exam-card-two__title">@@title</div>
	</div>
</div>