<div class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__logo">
        <a href="./index.html" class="header__link"> 
          <img class="header__img" src="./img/7.png">
         </a>
      </div>
      <div class="header__nav">
        <a href="./index.html" class="header__link">Главная</a>
        <a href="./my-blog.html" class="header__link">Мой блог</a>
        <a href="./round3.html" class="header__link-two">Подробнее обо мне</a>
      </div>
    </div>
  </div>
</div>
