<div class="header">
  <div class="container">
    <div class="header_content">
      <div class="header_logo">  
        <img class="header_logo__img" src="./img/2.png">
       </div>
      <div class="header_nav">
        <a href="./index.html" class="header__links header__link_italic">Главная</a>
        <a href="./history.html" class="header__links">История обо мне</a>
        <a href="./round3.html" class="header__links">Мой блог</a>
        <a href="./contacts.html" class="header__links">Контакты</a>
      </div>
    </div>
  </div>
</div>
