<header>
  <div class="container">
    <section>
      <div class="logo">
          <a href="./index.html" class="header__link"> 
          <img class="header__img" src="./img/7.png">
          </a>
        </div>
      <nav>
        <a href="./first.html" class="link">Главная</a>
        <a href="./my-blog.html" class="link">Мой блог</a>
        <a href="./about-me.html" class="link">Подробнее обо мне</a>
        <a href="./exam.html" class="link">Экзаменационная работа</a>
        </nav>
      </section>
    
    </div>
</header>
